<input [formControl]="control" type="password" id="password" name="password"
       placeholder="Add your password"
       class="form-control block w-full px-3 py-1.5 text-base font-normal text-center text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                " [ngClass]=" {'visible text-red-600': formInvalid(control) }">
<span *ngIf="formControlHasErrors(control)">
      <span class="text-red">{{passwordControlValidationMessage()}}</span>
</span>
