<h2 class="text-2xl font-bold mb-6 text-center mb-4">Register</h2>
<form [formGroup]="registerForm">
  <div class="mt-4">
    <app-name [control]="this.registerForm.controls['name'] | formControl" ngDefaultControl></app-name>
  </div>
  <div class="mt-4">
    <app-email [control]="this.registerForm.controls['email'] | formControl"></app-email>
  </div>
  <div class="mt-4">
    <app-pass [control]="this.registerForm.controls['password'] | formControl" ngDefaultControl></app-pass>
  </div>
  <div class="mt-4">
    <app-re-pass [control]="this.registerForm.controls['repeatPassword'] | formControl" ngDefaultControl></app-re-pass>
  </div>
</form>
<div class="m-auto mt-6">
  <button (click)="submit()" type="submit" class="bg-blue-500 text-white p-2 rounded-md w-full">
    {{"Register"}}
  </button>
</div>
