<form [formGroup]="loginForm">
    <div class="mt-4">
        <app-email [control]="this.loginForm.controls['email'] | formControl" ngDefaultControl></app-email>
    </div>
    <div class="mt-4">
        <app-pass [control]="this.loginForm.controls['password'] | formControl" ngDefaultControl></app-pass>
    </div>
    <div class="mt-4">
        <app-re-pass [control]="this.loginForm.controls['repeatPassword'] | formControl" ngDefaultControl></app-re-pass>
    </div>
</form>
<div class="m-auto">
    <span class="block mx-auto p-4 overflow-hidden whitespace-nowrap overflow-ellipsis"*ngIf="isLogin">
        <a [routerLink]="['/', UserStep.REGISTER]">
            <span class="text-blue-500 hover:text-blue-700 underline">If you are a new user, click here to create a new profile</span></a
        >
    </span>
    <button (click)="submit()" type="submit" class="bg-blue-500 text-white p-2 rounded-md w-full">
        {{ isLogin ? "Login" : "Register" }}
    </button>
</div>
